.title{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	color: #333332; /* #609571; */
	font-family: sans-serif;
	font-size: 16px;
	display:inline;
}

.welcometitle{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	color: #609571;
	font-family: sans-serif;
	font-size: 16px;

}

.cover-body {
	bottom: 0;
	padding: 50px 10% 10%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cover-body .cover-body-inner {
	position: relative;
	z-index: 100;
}

.cover-title {
	font-size: 20px;
	line-height: 1;
	color: #fff;
	margin-bottom: 12px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.cover-body:before {
	content: '';
	position: absolute;
	top: -80px;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
}

.cover-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
	box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
}


.screen-scroll .wrapper {
	overflow: auto;
}

.wrapper-side-cover {
	left: 35%;
}

.wrapper {
	outline: 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

.container{
	position: relative;
	/* height: 520px;
		width: 420px; */
	height:100%;
	overflow: auto;		
	border: 1px dotted #e7eee9;
	padding: 10px;
}

.imageArea{
	position: relative;
	left: 10px;
	padding-bottom: 10px;
	position: relative;
	left: 10px;
	bottom: -130px;
}

.metadata{
	font-family: sans-serif;
	color: #b3b3b1; /* #AFC9B7; */
	font-size: 12px;	
}

.post-content{
	font-size: 0.9em;
	font-family: sans-serif;
	color: #333332; /* #609571; */
	line-height:18px;
}

.summary{
	font-size:12px;
	color:white;
}

.stats{
	font-size: 12px;
	font-family: sans-serif;
	color: #b3b3b1; /* #AFC9B7; */
}

.post{
	margin-bottom: 10px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom:10px;
}

.background{
/*	padding-top:20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px; 
	background:#fbfbf7; */
	margin:0;
	overflow:hidden;
}

.entry{	
	background: #609571;
	color:#fbfbf7;
	display:inline;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	font-size: 0.7em;
	font-family: sans-serif;	
}

.titlearea {
	float: left;
	width: 300px;
	padding: 20px;
	font-family: sans-serif;
	background: #eff4f0;
	height: 100%;
	border: 1px dotted #e7eee9;
	
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	max-width: 500px;
}


.wrapper-inner {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 810px;
	padding: 50px 85px;
}

@media (max-width: 1000px){
.wrapper-inner {
	padding: 40px 10%;
	max-width: 100%;
}

.titlearea {
	position: relative!important;
	width: 100%;
	max-width: none;
	height: 576px;
}

.wrapper {
	left: 0;
	top: 30;
	position:relative;
	overflow:visible;
	padding-top:30px;
}

.background{
	overflow:auto;
}

}